

<div class="layui-form" lay-filter="package-upload-form" style="padding: 20px 0 0 0;">
    <div class="layui-form-item">
      <label class="layui-form-label"></label>
      <div class="layui-input-block">
        <button type="button" class="layui-btn layui-btn-normal" id="package_upload_choose">选择文件</button>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label"></label>
      <div class="layui-input-block">
        <button type="button" class="layui-btn" id="package_upload_send">开始上传</button>
      </div>
    </div>
  
</div>
